body {
  overflow: hidden;
  color: #3e3e3e;
  font-size: 16px;
  font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

* {
  max-width: 100%!important;
  box-sizing: border-box!important;
  -webkit-box-sizing: border-box!important;
  word-wrap: break-word!important;
  padding: 0;
  margin: 0;
}

table {
  border: 1px solid #ccc;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border: 1px solid #ccc;
}

pre {
  border: 1px solid #ccc;
  padding: 10px;
}

p {
  clear: both;
  min-height: 1em;
  white-space: pre-wrap;
  margin-bottom: 1em;
}